body {
  margin: 5px;
  background-color: rgb(250, 234, 214);
}
.logo {
  height: 50px;
  width: 50px;
  float: left;
}
.logo:hover {
  cursor: pointer;
}
ul.menu-list{
  display: contents;
  list-style-type: none;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.2rem;
}
a {
  display: inline-table;
  color: rgb(104, 197, 27);
  text-decoration: none;
  background-color: rgb(238, 246, 235);
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  border: 1px solid;
  font-family: cursive;
}
a:hover {
  transform: scale(1);
  cursor: pointer;
  font-weight: bolder;
}
li {
  word-spacing: 3px;
  margin: 0 10px;
}
li h3 {
  text-align: center;
  background-color: rgba(2, 84, 8, 0.196);
}
.img-head {
  width: 100%;
  height: 100%;
  background-image: url("/img/background.jpg");
  border-radius: 10%;
  /* opacity: 90%; */
}
.titulo-principal {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  font-family: cursive;
  background-color: darkolivegreen;
  border-radius: 15px;
}
.titulo-principal {
  width: 100%;
  height: 100%;
}
span {
  color: aquamarine;
}
.lateral {
  display: inline;
  position: absolute;
  margin-top: 10px;
}
/********************disp y reser************************************************/
.cabañas img {
  width: 60%;
  justify-content: center;
  border-radius: 5%;
  border: 2px solid black;
}
.cabs {
  margin-right: 300px;
  text-align: left;
  font-size: x-large;
  font-weight: bold;
  font-family: cursive;
}
.cabs img {
  text-align: center;
}
/*////////////////////////////////////////////////////////////////////*/
@media only screen and (min-width: 660px) {
  .quienes-somos {
    flex-direction: row;
  }
  .main {
    flex-grow: 4;
  }
  .sidebar {
    flex-grow: 1;
  }
}