.contenedor{
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.izquierda{
    background-color: rgb(14, 14, 110);
    margin: 20px;
    width: 500px;
}
.derecha{
    background-color: rgb(64, 143, 117);
    margin: 20px;
    width: 200px;
}
